body {
    background:linear-gradient(0, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/static/img/bg.png');
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
}

.title {
    font-size: 12vw;
    color: #fff;
    text-shadow: 0 0 20px #333;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

.bg-black {
    background-color: rgba(0,0,0,0.6);
    color: #fff !important;
}

.btn-facebook {
    color: #fff;
    background-color: #4267b2;
}

.btn-facebook:hover {
    color: #fff !important;
    background-color: #4267b2;
    box-shadow: 0 0 15px #5e89df;
}

.btn-google {
    color: #fff;
    background-color: #ea4335;
}

.btn-google:hover {
    color: #fff !important;
    background-color: #ea4335;
    box-shadow: 0 0 15px #eb6f64;
}

.chat-card {
    height: 60vh;
}

#chat-content {
    overflow-y: scroll;
}

.chat-card .fa-user-circle {
    font-size: 3rem;
    position: relative;
    bottom: -0.7rem;
}

.chat-card .card-footer .btn {
    position: relative;
    padding-top: 100%;
    width: 2.5em;
}

#drawing-board {
    width: 300px !important;
    height: 300px !important;
    background-color: #fff;
    border: #555 5px solid;
    border-radius: 1em;
    cursor: crosshair;
}
.active-pen {
    box-shadow: 0 0 10px #17a2b8;
}

.ripple {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 10px solid #ee7723;
    position: absolute;
    left: 50%;
    transform: scale(.5);
    display: none;
}
.ripple.active {
    display: block;
    animation: ripple .4s ease-out forwards;
}

.blink-animation {
    animation: blink 0.81s ease-in-out forwards;
}

.blink-danger {
    animation: : blink-red 1s ease-in-out forwards;
}

@keyframes ripple {
    from {
      transform: scale(.2);
      opacity: 1;
    }
    to {
      transform: scale(1);
      opacity: 0;
    }
}

@keyframes blink {
    0% {
        box-shadow: 0px 0px 30px #007bff;
    }

    20% {
        box-shadow: none;
    }

    40% {
        box-shadow: 0px 0px 30px #007bff;
    }

    60% {
        box-shadow: none;
    }

    80% {
        box-shadow: 0px 0px 30px #007bff;
    }

    100% {
        box-shadow: none;
    }
}

@keyframes blink-red {
    0% {
        box-shadow: 0px 0px 30px #dc3545;
    }

    20% {
        box-shadow: none;
    }

    40% {
        box-shadow: 0px 0px 30px #dc3545;
    }

    60% {
        box-shadow: none;
    }

    80% {
        box-shadow: 0px 0px 30px #dc3545;
    }

    100% {
        box-shadow: none;
    }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.animate-circle {
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.wait-card {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 15;
    transition: ease-in 0.5s;
}

.agree-card {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 10;
    transition: ease-in 0.5s;
}

.wait-card .container, .agree-card .container {
    margin-top: 20vh;
}

.agree-card.hide, .wait-card.hide {
    top: -101vh;
}

.finish-card, .timeup-card {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 101vh;
    left: 0;
    z-index: 10;
    transition: ease-in-out 0.5s;
}

.finish-card .container, .timeup-card .container {
    margin-top: 20vh;
}

.finish-card.show, .timeup-card.show {
    top: 0;
}

.login-form label {
    text-align: left;
    display: block;
    margin-bottom: -1px;
}

.login-form input {
    display: block;
    width: 100%;
    border-radius: 0.3em;
    border: #aaa solid 1px;
    padding: 0.2em 0.4em;
}

@media only screen and (min-height: 600px) and (min-width: 600px) {
    #drawing-board {
        width: 500px !important;
        height: 500px !important;
    }
}

@media only screen and (min-height: 800px) and (min-width: 800px) {
    #drawing-board {
        width: 700px !important;
        height: 700px !important;
    }
}
