{% extends 'web/base.html' %}

{% block content %}
<div class="agree-card bg-primary text-white">
    <div class="container text-center">
        <h1 class="text-center">Guess word</h1>
        <h3 class="text-center mb-3">Do you want to proceed to draw this?</h3>
        <button id="accept" class="btn btn-success btn-lg rounded-pill px-5 py-2"><i class="fas fa-check"></i> Yes</button>
        <button class="btn btn-danger btn-lg rounded-pill px-5 py-2"><i class="fas fa-times"></i> No</button>
    </div>
</div>
<div class="row mt-5 pt-5">
    <div class="col-12 col-sm-6 col-md-4 order-sm-2">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">
                    Guess Word
                    <span class="float-right">
                        <i class="fas fa-stopwatch"></i> <span class="countdown"></span>
                    </span><span class="clearfix"></span>
                </h5>
            </div>
        </div>
        <div class="chat-card card">
            <div class="card-body" id="chat-content">
            </div>
            <div class="card-footer text-muted">
                <div class="d-sm-none float-left">
                    <button class="black-pencil btn btn-secondary rounded-circle p-2 active-pen"><i class="fas fa-pencil-alt"></i></button>
                    <button class="eraser btn btn-secondary rounded-circle p-2"><i class="fas fa-eraser"></i></button>
                    <button class="highlighter btn btn-warning rounded-circle p-2"><i class="fas fa-highlighter"></i></button>
                </div>
                <div class="float-right">
                    <button id="yes" class="btn btn-success rounded-circle p-2"><i class="fas fa-thumbs-up"></i></button>
                    <button id="no" class="btn btn-danger rounded-circle p-2"><i class="fas fa-thumbs-down"></i></button>
                    <button id="done" class="btn btn-primary rounded-circle p-2"><i class="fas fa-check"></i></button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-8 order-sm-1 text-center mt-3 mt-sm-0" style="position: relative">
            <div class="d-none d-sm-inline-block mt-3 p-2" style="position: absolute; left: -30px; background: #efefef; border: #555 solid 4px; border-radius: 1em">
                <button class="black-pencil btn btn-secondary rounded-circle p-2 active-pen mb-1"><i class="fas fa-pencil-alt"></i></button><br>
                <button class="eraser btn btn-secondary rounded-circle p-2 mb-1"><i class="fas fa-eraser"></i></button><br>
                <button class="highlighter btn btn-warning rounded-circle p-2 mb-1"><i class="fas fa-highlighter"></i></button><br>
            </div>
            <canvas width="300px" height="300px" id="drawing-board" class="d-inline-block"></canvas>
    </div>
</div>
<div class="finish-card bg-success text-white">
    <div class="container text-center">
        <h1 class="text-center">Your Score is 100!</h1>
        <a href="/" class="btn btn-lg btn-warning rounded-pill px-3"><i class="fas fa-undo-alt"></i> Play Again?</a>
    </div>
</div>
{{ game.id }}
{% endblock %}

{% block scripts %}
<script src="/socket.io/socket.io.js"></script>
<script type="text/paperscript" canvas="drawing-board">
    var path;
    var socket = io();
    var strokeColor = 'black';
    var strokeWidth = 3;
    var pencilId = 'black-pencil';
    
    function onMouseDown(event) {
        // If we produced a path before, deselect it:
        if (path) {
            path.selected = false;
        }

        path = new Path();
        path.strokeColor = strokeColor;
        path.strokeWidth = strokeWidth;
        msg = {'id': '{{ game.id }}', 'data': strokeColor};
        socket.emit('stroke-start', msg);
    }

    function onMouseDrag(event) {
        // Every drag event, add a point to the path at the current
        // position of the mouse:
        path.add(event.point);
        var scale = $('#drawing-board').width();
        msg = {'id': '{{ game.id }}', 'data': event.point/scale};
        socket.emit('stroke', msg);
    }

    function onMouseUp(event) {
        // When the mouse is released, simplify it:
        path.simplify();
        socket.emit('stroke-end', '{{ game.id }}');
    }

    $(function() {
        socket.emit('game', '{{ game.id }}');
        
        // Get messages from the chat room
        socket.on('chat', function(msg) {
            console.log(msg);
            $('#chat-content').append('<span class="rounded-circle"><i class="fas fa-user-circle"></i></span> <span class="rounded-pill bg-primary text-white px-3 py-2">' + msg + '</span><br>');
        });

        // Send emojis to guesser
        $('#yes').click(function(e) {
            e.preventDefault();
            socket.emit('yes', '{{ game.id }}');
            $('#chat-content').append('<i class="fas fa-thumbs-up display-4 text-success float-right"></i><span class="clearfix"></span>');
        });

        $('#no').click(function(e) {
            e.preventDefault();
            socket.emit('no', '{{ game.id }}');
            $('#chat-content').append('<i class="fas fa-thumbs-down display-4 text-danger float-right"></i><span class="clearfix"></span>');
        });

        $('#done').click(function(e) {
            e.preventDefault();
            socket.emit('done', '{{ game.id }}');
            $('.finish-card').toggleClass('show');
        });

        // Update pens
        $('.black-pencil').click(function(e) {
            e.preventDefault();
            $('.' + pencilId).removeClass('active-pen');
            $('.black-pencil').addClass('active-pen');
            pencilId = 'black-pencil';
            strokeColor = 'black';
            strokeWidth = 3;
        });

        $('.eraser').click(function(e) {
            e.preventDefault();
            $('.' + pencilId).removeClass('active-pen');
            $('.eraser').addClass('active-pen');
            pencilId = 'eraser';
            strokeColor = 'white';
            strokeWidth = 10;
        });

        $('.highlighter').click(function(e) {
            e.preventDefault();
            $('.' + pencilId).removeClass('active-pen');
            $('.highlighter').addClass('active-pen');
            pencilId = 'highlighter';
            strokeColor = 'yellow';
            strokeWidth = 10;
        });

        $('#accept').click(function(e) {
            e.preventDefault();
            timer2 = "3:01";
            $('.agree-card').toggleClass('hide');
            socket.emit('accepted', '{{ game.id }}');
        })

    });
</script>
{% endblock %}