{% extends 'web/base.html' %}

{% block content %}
<div class="row mt-5">
	<h1 class="title mt-5 mx-auto">Pictionary</h1>
	<div class="col-12 col-sm-6 offset-sm-3 text-center bg-black p-5 rounded">
		<h2 class="mb-4">Hi, {{ firstname }}!</h2>
		<!-- <h3>Play with friend</h3> -->
		<!-- <form>
			<div class="input-group mb-3">
				<input type="email" class="form-control" placeholder="Friend's email" aria-label="Friend's email" aria-describedby="basic-addon2">
				<div class="input-group-append">
					<button class="btn btn-primary">Play!</button>
				</div>
			</div>
		</form> -->
		<!-- <hr> -->
		<!-- <h3>Play with random player</h3> -->
		<!-- <a href="/draw" class="btn btn-lg btn-primary rounded-pill px-3 mr-2">
			<i class="fas fa-pencil-alt"></i> Draw!
		</a>
		<a href="/guess" class="btn btn-lg btn-warning rounded-pill px-3">
			<i class="fas fa-lightbulb"></i> Guess!
		</a> -->
		<a href="/play" class="btn btn-lg btn-primary rounded-pill px-3 mr-2">
			<i class="fas fa-pencil-alt"></i> Play Game!
		</a>
	</div>
</div>
{% endblock %}